.container{
    width: 1140px;
}
.splash{
   height: 700px;
   width: 1140px;
   position: relative;
   background-image: url(/images/background.jpg);
   
}
.splash-inner{
    position: absolute;
    
}
.btn-one{
    border: 1px solid red;
    text-decoration: none;
    color: white;
    border-color: yellow;
}