.container{
    width: 1400px;
}
/*home*/
.splash{
   height: 700px;
   width: 1400px;
   position: relative;
   background-image: url(/images/background.jpg);
   text-align: center;
   
}
.splash-inner{
    position: absolute;
    
    
}
.btn-one{
    display: inline-block;
    min-width:199px;
    padding:20px;
    border-radius:5px;
    font-family:'Montserrat', sans-serif;
    font-size:16px;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
    border: 1px solid yellow;
    color:white;
    background-color:#fed136;
    background-position: 100% 0;
    background-size:300%;
    transition: all 1s;
}
nav{
    top: 0;
    left: 0;
    width: 1280px;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
}
nav .navigation{
    padding: 30px 20px;
    height: 60px;
    float: left;
    font-size: 27px;
    font-family:'Wisdom Script', sans-serif;
    color:#fed136;
}


nav ul {
   list-style: none;
   float: right;
   margin: 0;
   padding: 0;
   display: flex;
   text-transform: uppercase;
   justify-content: space-between;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
  
}

    

nav ul li a  {
    text-decoration: none;
    line-height: 100px;
    padding: 12px 15px;
    color: white;
} 
nav ul li a:hover{
    color: red;
}

.container{
    margin-top: 250px;
}
.page-title{
    font-style: italic;
    font-size: 40px;
    color: white;
    bottom: 50px;
    
    
}
.page-subtitle{
    font-size: 70px;
    color: white;
   margin: 49px 0 45px 0;
   width: 1400px;
   font-family: 'Montserrat';
}
.services{
    text-align: center;
    margin-top: 110px;
    max-width: 1400px;
}
.serv-title{
    font-size: 40px;
    margin: 50px 0 0 0;
    font-family: 'Montserrat';
}
.serv-subtitle{
    margin-top: 5px ;
    font-style: italic;
    font-size: 20px;
    color: gray;
}